{% extends "base.html" %}
{% block content %}
<h2>{{ action }} Book</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.authors.label }} {{ form.authors(class="form-control") }}</div>
    <div class="mb-3">{{ form.isbn.label }} {{ form.isbn(class="form-control") }}</div>
    <div class="mb-3">{{ form.publisher.label }} {{ form.publisher(class="form-control") }}</div>
    <div class="mb-3">{{ form.pages.label }} {{ form.pages(class="form-control") }}</div>
    <div class="mb-3">{{ form.stock.label }} {{ form.stock(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
